.devcontainer/
.direnv/
.envrc
.idea/
.venv/
.vscode/

__pycache__/
beets_beetmatch.egg-info/
build/
dist/

examples/docker/
!examples/docker/config.yaml
!examples/docker/m3u-create-playlist

# tmp
beetsplug/beetmatch/feature/server/
server-ui/
sample-web/
test-beets/
